@page
@model FirstWebApp.Pages.Details.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Detail.InvoiceId" class="control-label"></label>
                <input asp-for="Detail.InvoiceId" class="form-control" />
                <span asp-validation-for="Detail.InvoiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail.ProductId" class="control-label"></label>
                <input asp-for="Detail.ProductId" class="form-control" />
                <span asp-validation-for="Detail.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail.Quantity" class="control-label"></label>
                <input asp-for="Detail.Quantity" class="form-control" />
                <span asp-validation-for="Detail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail.Price" class="control-label"></label>
                <input asp-for="Detail.Price" class="form-control" />
                <span asp-validation-for="Detail.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-outline-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>
