@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mt-3">
        <img src="./img/fcecepLogo.png" alt="Logo fcecep">
    </div>
    <h1>
        Juan Camilo Horta
    </h1>
    <p>
        Entrega de Razor Pages
    </p>

</div>
